<app-loading-spinner *ngIf="!isLoaded"></app-loading-spinner>
<main
  class="relative max-w-4xl mx-auto text-gray-700 md:px-8 min-h-95 md:py-12"
  *ngIf="isLoaded"
>
  <!-- Recipe Image-->
  <div class="relative pb-3/5 md:rounded-lg">
    <img
      class="absolute object-cover object-center w-full h-full shadow-md focus:outline-none md:rounded-lg"
      onerror="this.onerror=null;this.src='/assets/img/recipe-placeholder.jpg';"
      [defaultImage]="defaultImage"
      [lazyLoad]="recipe.imagePath"
      alt="recipe image"
    />
    <!-- Recipe actions-->
    <div class="absolute top-0 right-0 p-4" *ngIf="isOwner">
      <button
        class="mr-2 bg-green-600 rounded-full btn shadow-xs"
        (click)="onUpdate()"
      >
        Update
      </button>
      <button
        class="bg-red-600 rounded-full btn hover:bg-red-700 shadow-xs"
        (click)="onDelete()"
      >
        Delete
      </button>
    </div>
  </div>
  <div class="relative -mt-24">
    <div
      class="px-16 py-12 bg-white shadow-lg dark:bg-gray-900 md:rounded-b-lg"
    >
      <div>
        <!-- Recipe Title-->
        <h1 class="text-4xl font-medium font-display dark:text-white">
          {{ recipe.name }}
        </h1>

        <div
          class="flex flex-col flex-wrap items-center justify-between md:flex-row"
        >
          <!-- Recipe user-->
          <app-recipe-user [user]="recipe.user"></app-recipe-user>
          <app-recipe-info [recipe]="recipe"></app-recipe-info>
          <app-recipe-vote [recipe]="recipe"></app-recipe-vote>
        </div>
      </div>
    </div>
  </div>
  <!-- Recipe description-->
  <div
    class="relative p-16 mt-10 bg-white shadow-md md:rounded-lg dark:bg-gray-900"
  >
    <h2 class="mb-4 text-2xl font-bold text-gray-700 dark:text-gray-200">
      Preparation
    </h2>
    <p
      class="max-w-2xl text-justify text-gray-500 leading-6 dark:text-gray-300"
    >
      {{ recipe.preparation }}
    </p>
    <div class="m-6 border-b border-gray-200"></div>
    <h2 class="mb-4 text-2xl font-bold text-gray-700 dark:text-gray-200">
      Ingredients
    </h2>
    <ul class="">
      <li
        class="dark:text-gray-300"
        *ngFor="let ingredient of recipe.ingredients"
      >
        {{ ingredient.amount }} - {{ ingredient.name }}
      </li>
    </ul>
  </div>
  <app-comments></app-comments>
</main>
