HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### MacOS related ###
.DS_Store

### Logs ###
spring-boot-logger*
spring-boot-logger.log
logs/*

# MySQL Workbench files
*.mwb
*.mwb.*

# Static assets
static/*

# Application properties
application.properties