<nav
  class="flex items-center justify-between flex-wrap bg-green-500 dark:bg-black py-6 relative z-10"
>
  <div
    class="flex items-center flex-shrink-0 text-white dark:text-gray-100 mr-6 pl-6"
  >
    <a class="nav__brand" routerLink="/">
      <img class="h-8 mr-2" src="/assets/img/logo.png" alt="tastyn logo" />
    </a>
  </div>
  <div class="block lg:hidden pr-6">
    <button
      (click)="onOpen()"
      class="flex items-center px-3 py-2 border rounded text-white dark:text-gray-100 border-green-400 hover:text-green-100 dark:hover:text-green-500 hover:border-white focus:outline-none"
    >
      <svg
        class="fill-current h-3 w-3"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <title>Menu</title>
        <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
      </svg>
    </button>
  </div>

  <div
    class="w-full block flex-grow lg:flex lg:items-center lg:w-auto px-6"
    [ngClass]="{ 'nav-opened': isOpen, 'nav-closed': !isOpen }"
  >
    <div class="text-sm lg:flex-grow">
      <a
        class="block mt-4 lg:inline-block lg:mt-0 text-white dark:text-gray-100 hover:text-green-100 dark:hover:text-green-500 mr-4"
        routerLinkActive="nav__link--active"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLink="/"
      >
        Home
      </a>
      <a
        routerLinkActive="nav__link--active"
        routerLink="/recipes/add"
        class="block mt-4 lg:inline-block lg:mt-0 text-white dark:text-gray-100 hover:text-green-100 dark:hover:text-green-500 mr-4"
      >
        Add recipe
      </a>
      <a
        routerLinkActive="nav__link--active"
        routerLink="/recipes"
        class="block mt-4 lg:inline-block lg:mt-0 text-white dark:text-gray-100 hover:text-green-100 dark:hover:text-green-500 mr-4"
      >
        Browse
      </a>
      <a
        routerLinkActive="nav__link--active"
        routerLink="/recipes"
        (click)="navigateToUserSection()"
        class="block mt-4 lg:inline-block lg:mt-0 text-white dark:text-gray-100 hover:text-green-100 dark:hover:text-green-500 mr-4"
      >
        My recipes
      </a>
    </div>
    <div
      class="w-full flex items-center lg:w-auto pt-4 pb-2 lg:py-0 mt-4 lg:mt-0"
    >
      <a
        routerLinkActive="nav__link--active"
        routerLink="/auth/signup"
        *ngIf="!isAuthenticated"
        class="inline-block text-sm px-4 py-2 leading-none border rounded text-white dark:text-gray-100 border-white hover:border-transparent hover:text-green-500 hover:bg-white dark:hover:bg-black mr-4"
        >Sign-up</a
      >
      <a
        class="inline-block text-sm px-4 py-2 leading-none border rounded text-white dark:text-gray-100 border-white hover:border-transparent hover:text-green-500 hover:bg-white dark:hover:bg-black mr-4"
        routerLinkActive="nav__link--active"
        routerLink="/auth/login"
        *ngIf="!isAuthenticated"
        >Login</a
      >

      <a
        *ngIf="isLoaded && isAuthenticated"
        routerLink="/users/{{ auth.userId }}"
        class="block lg:inline-block text-white dark:text-gray-100 hover:text-green-100 dark:hover:text-green-500 mr-4"
      >
        My profile
      </a>
      <a
        *ngIf="isAuthenticated"
        class="inline-block text-sm px-4 py-2 leading-none border rounded text-white dark:text-gray-100 border-white hover:border-transparent hover:text-green-500 hover:bg-white dark:hover:bg-black lg:ml-4 mr-4"
        routerLinkActive="nav__link--active"
        (click)="onLogout()"
        >Logout</a
      >
      <app-dark-mode></app-dark-mode>
    </div>
  </div>
</nav>
