<div *ngIf="!isLoaded" style="text-align: center">
  <app-loading-spinner></app-loading-spinner>
</div>
<div *ngIf="isLoaded" class="flex p-8 min-h-95">
  <div
    class="container px-8 py-12 mx-auto text-gray-900 bg-white rounded shadow dark:bg-gray-900 lg:w-3/5"
  >
    <h1 class="mb-4 text-4xl text-center">Update profile</h1>

    <div class="flex flex-col items-center">
      <img
        onerror="this.onerror=null;this.src='/assets/img/avatar.png';"
        class="block object-cover w-48 h-48 max-w-xs mx-auto mb-8 rounded-full"
        src="{{ user.avatar }}"
        alt="user profile picture"
      />
      <div *ngIf="isOwner">
        <button
          class="inline-block p-2 mb-4 -mt-4 text-sm text-center border-b border-gray-300 rounded hover:text-white hover:bg-gray-800 dark:bg-gray-200"
          (click)="onClick()"
        >
          Change profile image
        </button>

        <input
          type="file"
          #fileUpload
          id="fileUpload"
          accept="image/*"
          style="display: none"
        />
      </div>
    </div>

    <form
      class="w-full max-w-xl mx-auto min-w-min-content"
      [formGroup]="userForm"
      (ngSubmit)="onSubmit()"
    >
      <!--Username -->
      <div class="flex flex-wrap mb-6 -mx-3">
        <div class="w-full px-4 mb-6 md:mb-0">
          <label
            class="block mb-2 text-xs font-bold tracking-wide text-gray-700 uppercase dark:text-gray-300"
            for="grid-username"
          >
            Username
          </label>
          <input
            formControlName="username"
            class="block w-full px-4 py-3 mb-3 leading-tight text-gray-700 bg-gray-200 border rounded appearance-none dark:bg-gray-900 dark:text-gray-300 focus:outline-none focus:bg-white dark:focus:bg-gray-800"
            id="grid-username"
            type="text"
            placeholder="JohnDoe"
          />
          <!-- <p class="text-xs italic text-red-500">
              Please fill out this field.
            </p> -->
        </div>
      </div>
      <!-- Preparation -->
      <div class="flex mb-6 -mx-3">
        <div class="w-full px-3">
          <label
            class="block mb-2 text-xs font-bold tracking-wide text-gray-700 uppercase dark:text-gray-300"
            for="description"
            >Description</label
          >
          <textarea
            formControlName="description"
            class="w-full px-4 py-3 leading-tight text-gray-700 bg-gray-200 border border-gray-200 rounded resize-none dark:bg-gray-900 dark:text-gray-300 focus:outline-none focus:bg-white focus:border-gray-500 dark:focus:bg-gray-800"
            name="description"
            id="description"
            rows="8"
          ></textarea>
        </div>
      </div>

      <div class="flex justify-between">
        <button
          class="btn"
          type="submit"
          [ngClass]="{
            'opacity-50 cursor-not-allowed': userForm.status !== 'VALID'
          }"
          [disabled]="userForm.status !== 'VALID'"
        >
          Update
        </button>
        <button
          type="button"
          class="bg-blue-500 btn hover:bg-blue-300"
          routerLink="/users/update-password"
        >
          Change password
        </button>
        <button
          type="button"
          (click)="onDelete()"
          class="bg-red-500 btn hover:bg-red-300"
        >
          Delete profile
        </button>
      </div>
    </form>
  </div>
</div>
