<div *ngIf="isLoading" style="text-align: center">
  <app-loading-spinner></app-loading-spinner>
</div>
<div *ngIf="!isLoading" class="flex">
  <img
    class="flex-shrink hidden object-cover h-auto lg:block leftImg lg:w-2/5"
    [lazyLoad]="leftImg"
    alt="kitchen counter"
  />

  <div
    class="container p-6 mx-auto text-gray-900 bg-white dark:bg-gray-900 lg:w-3/5"
  >
    <h1
      class="mt-4 mb-8 text-5xl font-light text-center dark:text-white"
      *ngIf="!isEditMode"
    >
      New Recipe
    </h1>
    <h1
      class="mt-4 mb-8 text-5xl font-light text-center dark:text-white"
      *ngIf="isEditMode"
    >
      Update relight
    </h1>
    <form
      class="w-full max-w-xl mx-auto min-w-min-content"
      [formGroup]="recipe"
      (ngSubmit)="onSubmit()"
    >
      <!--Recipe name & duration -->
      <div class="flex flex-wrap mb-6 -mx-3">
        <div class="w-full px-4 mb-6 lg:w-1/2 md:mb-0">
          <label
            class="block mb-2 text-xs font-bold tracking-wide text-gray-700 uppercase dark:text-gray-200"
            for="grid-recipe-name"
          >
            Recipe name
          </label>
          <input
            formControlName="name"
            class="block w-full px-4 py-3 mb-3 leading-tight text-gray-700 bg-gray-200 border rounded appearance-none dark:bg-gray-800 dark:text-gray-200 focus:outline-none focus:bg-white dark:focus:bg-gray-900"
            id="grid-recipe-name"
            type="text"
            placeholder="Spaghetti Carbonara"
          />
          <!-- <p class="text-xs italic text-red-500">
              Please fill out this field.
            </p> -->
        </div>
        <div class="w-full px-3 md:w-1/2">
          <label
            class="block mb-2 text-xs font-bold tracking-wide text-gray-700 uppercase dark:text-gray-200"
            for="grid-duration"
          >
            Duration
          </label>
          <input
            formControlName="duration"
            class="block w-full px-4 py-3 leading-tight text-gray-700 bg-gray-200 border border-gray-200 rounded appearance-none dark:bg-gray-800 dark:text-gray-200 focus:outline-none focus:bg-white dark:focus:bg-gray-900 focus:border-gray-500"
            id="grid-preparation"
            type="number"
            placeholder="10 mins"
          />
          <p class="p-1 text-xs italic text-gray-600">In minutes</p>
        </div>
      </div>
      <!-- Preparation -->
      <div class="flex mb-6 -mx-3">
        <div class="w-full px-3">
          <label
            class="block mb-2 text-xs font-bold tracking-wide text-gray-700 uppercase dark:text-gray-200"
            for="preparation"
            >Preparation</label
          >
          <textarea
            formControlName="preparation"
            class="w-full px-4 py-3 leading-tight text-gray-700 bg-gray-200 border border-gray-200 rounded resize-none dark:bg-gray-800 dark:text-gray-200 focus:outline-none focus:bg-white dark:focus:bg-gray-900 focus:border-gray-500"
            name="preparation"
            id="preparation"
            rows="8"
          ></textarea>
        </div>
      </div>

      <div
        class="flex flex-wrap content-center mb-6 -mx-3"
        formGroupName="ingredient"
      >
        <div class="w-full px-3 mb-6 md:w-1/3 md:mb-0">
          <label
            class="block mb-2 text-xs font-bold tracking-wide text-gray-700 uppercase dark:text-gray-200"
            for="grid-ingredient"
            >Ingredient</label
          >
          <input
            type="text"
            id="grid-ingredient"
            formControlName="name"
            (keyup)="checkIngredient(ingName.value, ingAmount.value)"
            placeholder="Pasta"
            class="block w-full px-4 py-3 mb-3 leading-tight text-gray-700 bg-gray-200 border rounded appearance-none dark:bg-gray-800 dark:text-gray-200 focus:outline-none focus:bg-white dark:focus:bg-gray-900"
            #ingName
          />
        </div>
        <div class="w-full px-3 mb-6 md:w-1/3 md:mb-0">
          <label
            class="block mb-2 text-xs font-bold tracking-wide text-gray-700 uppercase dark:text-gray-200"
            for="grid-quantity"
            >Quantity</label
          >
          <input
            type="text"
            id="grid-quantity"
            formControlName="amount"
            (keyup)="checkIngredient(ingName.value, ingAmount.value)"
            placeholder="200g"
            class="block w-full px-4 py-3 mb-3 leading-tight text-gray-700 bg-gray-200 border rounded appearance-none dark:bg-gray-800 dark:text-gray-200 focus:outline-none focus:bg-white dark:focus:bg-gray-900"
            #ingAmount
          />
        </div>
        <div class="self-end w-full px-3 mb-6 align-bottom md:w-1/3 md:mb-0">
          <button
            type="button"
            (click)="onAddIngredient()"
            [disabled]="!isIngredientValid"
            [ngClass]="{
              'opacity-50 cursor-not-allowed': !isIngredientValid
            }"
            class="px-4 py-2 mb-3 font-semibold text-green-700 bg-transparent border border-green-500 rounded hover:bg-green-500 hover:text-white hover:border-transparent dark:border-green-300 dark:text-green-300"
          >
            Add
          </button>
        </div>
        <ul class="flex flex-wrap mb-6">
          <li
            class="px-4 py-2 m-1 text-sm font-bold text-white bg-green-500 rounded-full hover:bg-green-700"
            *ngFor="let ingredient of ingredients; let i = index"
            (click)="onDeleteIngredient(ingredient.name)"
          >
            <span> {{ ingredient.amount }} - {{ ingredient.name }} </span>
          </li>
        </ul>
      </div>

      <!-- Image url input -->
      <div class="flex flex-wrap mb-6 -mx-3">
        <div class="w-full px-3">
          <label
            class="block mb-2 text-xs font-bold tracking-wide text-gray-700 uppercase dark:text-gray-200"
            for="grid-image"
          >
            Image url
          </label>
          <input
            formControlName="imagePath"
            class="block w-full px-4 py-3 leading-tight text-gray-700 bg-gray-200 border border-gray-200 rounded appearance-none dark:bg-gray-800 dark:text-gray-200 focus:outline-none focus:bg-white dark:focus:bg-gray-900 focus:border-gray-500"
            id="grid-image"
            type="text"
            placeholder="https://images.unsplash.com/photo-1546549032-9571cd6b27df?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80"
          />
          <p class="p-1 text-xs italic text-gray-600">Optional</p>
        </div>
      </div>

      <!-- Information about the recipe-->

      <!--Difficulty -->
      <div class="flex flex-wrap mb-8 -mx-3">
        <div class="w-full px-3 mb-6 md:w-1/3 md:mb-0">
          <label
            class="block mb-2 text-xs font-bold tracking-wide text-gray-700 uppercase dark:text-gray-200"
            for="grid-difficulty"
          >
            Difficulty
          </label>
          <div class="relative">
            <select
              class="block w-full px-4 py-3 pr-8 leading-tight text-gray-700 bg-gray-200 border border-gray-200 rounded appearance-none dark:bg-gray-800 dark:text-gray-200 focus:outline-none focus:bg-white dark:focus:bg-gray-900 focus:border-gray-500"
              id="grid-difficulty"
              name="difficulty"
              formControlName="difficulty"
            >
              <option value="" disabled selected hidden>Difficulty</option>
              <option [ngValue]="1">Beginner</option>
              <option [ngValue]="2">Easy</option>
              <option [ngValue]="3">Intermediate</option>
              <option [ngValue]="4">Advanced</option>
              <option [ngValue]="5">Expert</option>
            </select>
            <div
              class="absolute inset-y-0 right-0 flex items-center px-2 text-gray-700 pointer-events-none dark:text-gray-200"
            >
              <svg
                class="w-4 h-4 fill-current"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
              >
                <path
                  d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                />
              </svg>
            </div>
          </div>
        </div>

        <!--Serving -->
        <div class="w-full px-3 mb-6 md:w-1/3 md:mb-0">
          <label
            class="block mb-2 text-xs font-bold tracking-wide text-gray-700 uppercase dark:text-gray-200"
            for="grid-difficulty"
          >
            Serving
          </label>
          <div class="relative">
            <select
              class="block w-full px-4 py-3 pr-8 leading-tight text-gray-700 bg-gray-200 border border-gray-200 rounded appearance-none dark:bg-gray-800 dark:text-gray-200 focus:outline-none focus:bg-white dark:focus:bg-gray-900 focus:border-gray-500"
              id="grid-serving"
              name="serving"
              formControlName="serving"
            >
              <option value="" disabled selected hidden>Serving</option>
              <option [ngValue]="1">1</option>
              <option [ngValue]="2">2</option>
              <option [ngValue]="3">3</option>
              <option [ngValue]="4">4</option>
              <option [ngValue]="5">5</option>
            </select>
            <div
              class="absolute inset-y-0 right-0 flex items-center px-2 text-gray-700 pointer-events-none dark:text-gray-200"
            >
              <svg
                class="w-4 h-4 fill-current"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
              >
                <path
                  d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                />
              </svg>
            </div>
          </div>
        </div>
        <!-- Pricing -->
        <div class="w-full px-3 mb-6 md:w-1/3 md:mb-0">
          <label
            class="block mb-2 text-xs font-bold tracking-wide text-gray-700 uppercase dark:text-gray-200"
            for="grid-serving"
          >
            Pricing
          </label>
          <div class="relative">
            <select
              class="block w-full px-4 py-3 pr-8 leading-tight text-gray-700 bg-gray-200 border border-gray-200 rounded appearance-none dark:bg-gray-800 dark:text-gray-200 focus:outline-none focus:bg-white dark:focus:bg-gray-900 focus:border-gray-500"
              id="grid-pricing"
              name="pricing"
              formControlName="pricing"
            >
              <option value="" disabled selected hidden>Pricing</option>
              <option [ngValue]="1">$</option>
              <option [ngValue]="2">$$</option>
              <option [ngValue]="3">$$$</option>
              <option [ngValue]="4">$$$$</option>
              <option [ngValue]="5">$$$$$</option>
            </select>
            <div
              class="absolute inset-y-0 right-0 flex items-center px-2 text-gray-700 pointer-events-none dark:text-gray-200"
            >
              <svg
                class="w-4 h-4 fill-current"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
              >
                <path
                  d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                />
              </svg>
            </div>
          </div>
        </div>
      </div>
      <div class="flex justify-center md:justify-start">
        <button
          class="px-4 py-2 font-bold text-white bg-green-500 rounded hover:bg-green-700"
          *ngIf="!isEditMode"
          type="submit"
          [ngClass]="{
            'opacity-50 cursor-not-allowed': recipe.status !== 'VALID'
          }"
          [disabled]="recipe.status !== 'VALID'"
        >
          Submit
        </button>
      </div>
      <button
        class="px-4 py-2 font-bold text-white bg-green-500 rounded hover:bg-green-700"
        type="button"
        *ngIf="isEditMode"
        (click)="onUpdate()"
        [ngClass]="{
          'opacity-50 cursor-not-allowed': recipe.status !== 'VALID'
        }"
        [disabled]="recipe.status !== 'VALID'"
      >
        Update
      </button>
    </form>
  </div>
</div>
