<div
  routerLink="/users/{{ user.id }}"
  class="flex items-center justify-start mt-4 cursor-pointer focus:outline-none"
>
  <img
    class="object-cover w-10 h-10 mr-4 bg-gray-300 rounded-full imgCard"
    alt="{{ user.username }}"
    [src]="user.avatar"
    onerror="this.onerror=null;this.src='/assets/img/avatar.png';"
    (load)="addLoaded($event)"
  />
  <div class="text-sm">
    <p class="leading-none text-gray-900 dark:text-gray-100">
      Recipe by {{ user.username }}
    </p>
    <p class="text-gray-600 dark:text-gray-300">
      {{ user.createdAt | dateRelative }} ago
    </p>
  </div>
</div>
