<form
  class="flex items-center p-6 mb-4 bg-white shadow md:rounded-lg dark:bg-gray-900"
>
  <textarea
    class="flex-1 h-full px-4 py-2 resize-none dark:bg-gray-900 dark:text-white focus:border-0 focus:outline-none"
    autosize
    name="comment"
    id="comment"
    placeholder="New comment"
    [formControl]="comment"
  ></textarea>
  <div class="flex">
    <button
      *ngIf="!isUpdate"
      (click)="onAddComment()"
      class="btn"
      type="submit"
    >
      Post
    </button>
    <button
      *ngIf="isUpdate"
      (click)="onUpdateComment()"
      class="mr-2 btn"
      type="submit"
    >
      <svg
        class="w-4"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M5 13l4 4L19 7"
        />
      </svg>
    </button>
    <button
      *ngIf="isUpdate"
      (click)="onCancelComment()"
      class="bg-red-500 border-red-700 btn hover:bg-red-700"
      type="submit"
    >
      <svg
        class="w-4"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M6 18L18 6M6 6l12 12"
        />
      </svg>
    </button>
  </div>
</form>
